[Unit]
Description={{ app_service_name }}
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}/app
ExecStart={{ app_dir }}/start_app.sh
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
Environment=PATH={{ app_dir }}/venv/bin

[Install]
WantedBy=multi-user.target