#!/bin/bash

# Скрипт запуска приложения

# Активировать виртуальное окружение
source {{ app_dir }}/venv/bin/activate

# Перейти в директорию приложения
cd {{ app_dir }}/app

# Запустить приложение
exec python3 app.py --host {{ app_host }} --port {{ app_port }}