server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;
    index index.html index.htm;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }

    # Настройка логов
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    # Оптимизации производительности
    client_max_body_size {{ client_max_body_size }};
    client_body_timeout {{ client_body_timeout }};
    client_header_timeout {{ client_header_timeout }};
    send_timeout {{ send_timeout }};

    # Безопасность
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
}